{{page-title "Bst"}}
<div class="row">
    <div class="col-md-8 col-sm-12 mb-3">
        <label for="value" class="form-label">Input Array</label>
        <Input type="text" class="form-control" @value={{this.input}} id="value" name="value" />
    </div>

    <div class="col-md-4 mb-3">
        <label for="target" class="form-label">Target</label>
        <Input type="text" class="form-control" @value={{this.target_value}} id="target" name="target" />
    </div>
    <div class="col-md-4 mb-3">
        <label for="time-delay" class="form-label">Current time delay: <span id="time-delay">{{convert-time this.time_delay}}</span></label>
        <input type="range" min="500" max="2000" class="form-control" value={{this.time_delay}} id="time-delay" name="time-delay"
            {{on 'input' this.changeDelay}}
        />
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" type="button" {{on 'click' this.create}}>Create</button>
    </div>
    <div class="col">
        <button class="btn btn-info" disabled={{is-false this.bst}} type="button" {{on 'click' this.solve}}>Run</button>
    </div>
</div>

<Display::Array @title="bst array" @className="bst-input-container" @array={{this.bst}} />
<Display::Result @result={{this.result}} />